/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.static{position:static;}
.bottom-\[-40\]{bottom:-40;}
.bottom-10{bottom:2.5rem;}
.left-0{left:0;}
.left-1\/2{left:50%;}
.left-10{left:2.5rem;}
.right-10{right:2.5rem;}
.right-2{right:0.5rem;}
.right-6{right:1.5rem;}
.top-\[-10px\]{top:-10px;}
.top-0{top:0;}
.top-1\/2{top:50%;}
.top-50{top:12.5rem;}
.line-clamp-4{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4;line-clamp:4;}
.z-50{z-index:50;}
.z-9{z-index:9;}
.z-90{z-index:90;}
.grid{display:grid;}
.col-span-10{grid-column:span 10/span 10;}
.col-span-2{grid-column:span 2/span 2;}
.col-span-3{grid-column:span 3/span 3;}
.grid-cols-12{grid-template-columns:repeat(12,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.m-0{margin:0;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mb-1{margin-bottom:0.25rem;}
.mb-12{margin-bottom:3rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-3{margin-bottom:0.75rem;}
.mb-6{margin-bottom:1.5rem;}
.ml-3{margin-left:0.75rem;}
.mr-2{margin-right:0.5rem;}
.mr-3{margin-right:0.75rem;}
.mr-5{margin-right:1.25rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.block{display:block;}
.inline-block{display:inline-block;}
.contents{display:contents;}
.hidden{display:none;}
.aspect-square{aspect-ratio:1/1;}
.h-\[20px\]{height:20px;}
.h-\[22px\]{height:22px;}
.h-\[36px\]{height:36px;}
.h-\[3px\]{height:3px;}
.h-\[50px\]{height:50px;}
.h-0{height:0;}
.h-10{height:2.5rem;}
.h-14{height:3.5rem;}
.h-15{height:3.75rem;}
.h-20{height:5rem;}
.h-77{height:19.25rem;}
.h-9{height:2.25rem;}
.h-full{height:100%;}
.max-h-\[300\]{max-height:300;}
.max-h-64{max-height:16rem;}
.max-w-\[300\]{max-width:300;}
.max-w-full{max-width:100%;}
.w-\[1px\]{width:1px;}
.w-\[30px\]{width:30px;}
.w-\[36px\]{width:36px;}
.w-0{width:0;}
.w-10{width:2.5rem;}
.w-15{width:3.75rem;}
.w-20{width:5rem;}
.w-9{width:2.25rem;}
.w-90\%{width:90%;}
.w-auto{width:auto;}
.w-full{width:100%;}
.flex{display:flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.table{display:table;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-1\/2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.animate-spin{animation:spin 1s linear infinite;}
.cursor-default{cursor:default;}
.cursor-help{cursor:help;}
.cursor-pointer{cursor:pointer;}
.cursor-zoom-in{cursor:zoom-in;}
.list-none{list-style-type:none;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-1{gap:0.25rem;}
.gap-2{gap:0.5rem;}
.overflow-hidden{overflow:hidden;}
.overflow-y-scroll{overflow-y:scroll;}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.break-all{word-break:break-all;}
.border,
.border-1{border-width:1px;}
.border-0{border-width:0px;}
.border-b,
.border-b-1{border-bottom-width:1px;}
.border-l-0{border-left-width:0px;}
.border-r-0{border-right-width:0px;}
.border-t-0{border-top-width:0px;}
.border-\[\#07c160\]{--un-border-opacity:1;border-color:rgb(7 193 96 / var(--un-border-opacity));}
.border-gray-100{--un-border-opacity:1;border-color:rgb(243 244 246 / var(--un-border-opacity));}
.border-gray-200{--un-border-opacity:1;border-color:rgb(229 231 235 / var(--un-border-opacity));}
.border-red-700{--un-border-opacity:1;border-color:rgb(185 28 28 / var(--un-border-opacity));}
.dark .dark\:border-gray-600{--un-border-opacity:1;border-color:rgb(75 85 99 / var(--un-border-opacity));}
.dark .dark\:border-gray-800{--un-border-opacity:1;border-color:rgb(31 41 55 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-3xl{border-radius:1.5rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-md{border-radius:0.375rem;}
.rounded-sm{border-radius:0.125rem;}
.border-solid{border-style:solid;}
.border-b-solid{border-bottom-style:solid;}
.bg-\[\#07c160\]{--un-bg-opacity:1;background-color:rgb(7 193 96 / var(--un-bg-opacity));}
.bg-\[\#454545\]{--un-bg-opacity:1;background-color:rgb(69 69 69 / var(--un-bg-opacity));}
.bg-\[\#4c4c4c\]{--un-bg-opacity:1;background-color:rgb(76 76 76 / var(--un-bg-opacity));}
.bg-\[\#989997\]{--un-bg-opacity:1;background-color:rgb(152 153 151 / var(--un-bg-opacity));}
.bg-\[\#E8E9EC\]{--un-bg-opacity:1;background-color:rgb(232 233 236 / var(--un-bg-opacity));}
.bg-\[\#f0f0f0\]{--un-bg-opacity:1;background-color:rgb(240 240 240 / var(--un-bg-opacity));}
.bg-\[\#f7f7f7\]{--un-bg-opacity:1;background-color:rgb(247 247 247 / var(--un-bg-opacity));}
.bg-\[A2A3A1\]{background-color:A2A3A1;}
.bg-black\/50{background-color:rgb(0 0 0 / 0.5);}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.dark .dark\:bg-\[\#262626\]{--un-bg-opacity:1;background-color:rgb(38 38 38 / var(--un-bg-opacity));}
.dark .dark\:bg-\[\#323232\]{--un-bg-opacity:1;background-color:rgb(50 50 50 / var(--un-bg-opacity));}
.dark .dark\:bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.dark .dark\:bg-black\/30{background-color:rgb(0 0 0 / 0.3);}
.hover\:bg-\[\#DDDDDD\]:hover{--un-bg-opacity:1;background-color:rgb(221 221 221 / var(--un-bg-opacity));}
.bg-opacity-50,
.dark .dark\:bg-opacity-50{--un-bg-opacity:0.5;}
.bg-opacity-70{--un-bg-opacity:0.7;}
.bg-cover{background-size:cover;}
.bg-center{background-position:center;}
.object-cover{object-fit:cover;}
.p-0{padding:0;}
.p-1{padding:0.25rem;}
.p-2{padding:0.5rem;}
.p-5{padding:1.25rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-5{padding-left:1.25rem;padding-right:1.25rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.pb-1{padding-bottom:0.25rem;}
.pb-2{padding-bottom:0.5rem;}
.pl-\[1px\]{padding-left:1px;}
.pl-\[5px\]{padding-left:5px;}
.pl-3{padding-left:0.75rem;}
.pl-5{padding-left:1.25rem;}
.pr-\[1px\]{padding-right:1px;}
.pr-3{padding-right:0.75rem;}
.pr-5{padding-right:1.25rem;}
.pt-\[100\%\]{padding-top:100%;}
.pt-1{padding-top:0.25rem;}
.pt-2{padding-top:0.5rem;}
.pt-5{padding-top:1.25rem;}
.first-of-type\:pt-2:first-of-type{padding-top:0.5rem;}
.text-end{text-align:end;}
.text-\[12px\]{font-size:12px;}
.text-\[13px\]{font-size:13px;}
.text-\[14px\]{font-size:14px;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.font-semibold{font-weight:600;}
.leading-6{line-height:1.5rem;}
.dark .dark\:text-\[\#cccccc\]{--un-text-opacity:1;color:rgb(204 204 204 / var(--un-text-opacity));}
.text-\[\#c6c6c6\]{--un-text-opacity:1;color:rgb(198 198 198 / var(--un-text-opacity));}
.text-\[\#fff\],
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.text-gray{--un-text-opacity:1;color:rgb(156 163 175 / var(--un-text-opacity));}
.text-gray-300{--un-text-opacity:1;color:rgb(209 213 219 / var(--un-text-opacity));}
.text-gray-900{--un-text-opacity:1;color:rgb(17 24 39 / var(--un-text-opacity));}
.text-red{--un-text-opacity:1;color:rgb(248 113 113 / var(--un-text-opacity));}
.text-red-700{--un-text-opacity:1;color:rgb(185 28 28 / var(--un-text-opacity));}
.no-underline{text-decoration:none;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline{outline-style:solid;}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.backdrop-blur-lg{--un-backdrop-blur:blur(16px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.backdrop-blur-md{--un-backdrop-blur:blur(12px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.backdrop-filter{-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-300{transition-duration:300ms;}
.before\:content-\[attr\(data-separator\)\]::before{content:attr(data-separator);}