body {
  background-color: #F1F1F1;
  font-family: 'HarmonyOS-Sans', '微软雅黑', "Microsoft Yahei";
}

.page-navigator {
  display: flex;
  flex-direction: row;
}

.page-navigator li {
  margin: 0 .5rem;
}

.page-navigator .current, .page-navigator .current a {
  color: #f59e0b;
}

pre > code {
  text-wrap: wrap;
}


.jgg-container {
  background-color: #fff;
  width: 100%;
  /*padding-bottom: 100%;*/
  padding-left: 0.5%;
  padding-top: 0.5%;
}

.jgg-container .jgg-box {
  width: 31%;
  padding-bottom: 31%;
  border: 1% solid #fff;
  background-color: mediumpurple;
  border-radius: 3%;
  float: left;
  margin: 1%;
  position: relative;   /*父元素给相对定位*/

}

.jgg-container .jgg-box .content {
  position: absolute;    /*子元素给绝对定位*/
  width: 100%;
  height: 100%;
}

article .content a{
  text-decoration: underline;
}